{
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "importOrder": [
    "react",
    "<THIRD_PARTY_MODULES>",
    "^@fontsource/(.*)$",
    "^@/assets/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/config/(.*)$",
    "^@/helpers/(.*)$",
    "^@/i18n/(.*)$",
    "^@/services/(.*)$",
    "^@/layouts/(.*)$",
    "^@/pages/(.*)$",
    "^@/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/store/(.*)$",
    "^@/providers/(.*)$",
    "^[./]",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}